

.header .navbar {
    background-color: transparent !important;
    z-index: 99;
    font-family: "roboto";
    font-weight: 300;
  }

  * {
  scroll-behavior: smooth;
}

body{background-color: black !important;
font-family: "roboto" !important; }

.parrafo {
  font-weight: 300 !important;
}

.descripcion{
  font-size: 12px !important;
}

.icon {
  padding-left: 3px !important;
}